@using CellarBotHome.Models;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";

    var userId = User.Identity.GetUserId();
    var ents = new CellarBotEntities();
    var cellars = CellarHelper.GetUserCellars(userId);
}

<div class="jumbotron">
    <h1>CellarBot</h1>
    <p class="lead">A simple website to rate, and manage your beer cellar.</p>
    <p><a class="btn btn-primary btn-large" href="@Url.Action("Index", "Cellar")">Manage your cellars &raquo;</a></p>
</div>

@if (cellars.Any())
{
    <div class="row">
        <div class="col-md-6">
            <h2>Your Cellars</h2>
            <div>
                <ul>
                    @foreach (var cellar in cellars)
                    {
                        <li>@cellar.Name</li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Our Database</h2>
            <div>
                <ul>
                    <li>@Html.ActionLink("Beer Index", "Index", "Beer")</li>
                    <li>@Html.ActionLink("Brewery Index", "Index", "Brewery")</li>
                </ul>
            </div>
        </div>
    </div>
}