@{
    ViewBag.Title = "Home Page";

    var ents = new CellarBotHome.Models.CellarBotEntities();
    var beerCount = ents.Beers.Count();
    var breweryCount = ents.Breweries.Count();
}

<div class="jumbotron">
    <h1>CellarBot</h1>
    <p class="lead">A simple website to rate, and manage your beer cellar.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <table>
            <tr>
                <td><h3>Total Breweries</h3></td>
            </tr>
            <tr>
                <td>@breweryCount</td>
            </tr>
        </table>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Brewery", null)">Brewery List &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <table>
            <tr>
                <td><h3>Total Beers</h3></td>
            </tr>
            <tr>
                <td>@beerCount</td>
            </tr>
        </table>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Beer", null)">Beer List &raquo;</a></p>
    </div>
</div>