@{
    ViewBag.Title = "Home Page";

    var ents = new CellarBotHome.Models.CellarBotEntities();
    var beerCount = ents.Beers.Count();
    var breweryCount = ents.Breweries.Count();
}

<div class="jumbotron">
    <h1>CellarBot</h1>
    <p class="lead">A simple website to rate, and manage your beer cellar.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Total Breweries</h2>
        <p>@breweryCount</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Brewery", null)">Brewery List &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Total Beers</h2>
        <p>@beerCount</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Beer", null)">Beer List &raquo;</a></p>
    </div>
</div>