@{
    ViewBag.Title = "Submit New Beer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Are we missing a brew?</h1>
    <p class="lead">Can you imagine how hard it would be to keep up on all the new beer releases without your help?</p>
    <p>&quot;<i>We really appreciate you taking the time to make the site better. Cheers!</i>&quot;<br />
    <span style="font-size:16px;margin-left:25px;">
        - Ty Norton (CellarBot Founder)
    </span>
    </p>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>Recommended Option</h3>
        <p>
            We can scan the UPC code off the back for you, so others can easily find this beer in the future.
        </p>
        <p>This is the <b>recommended</b> option if you have a webcam hooked up to your computer.</p>
        <p><a class="btn btn-primary btn-large" href="@Url.Action("CreateByUPC")">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Manual Option</h3>
        <p>
            This is the <i>classic</i> beer entry system.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("CreateBasic")">Get Started &raquo;</a></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
