@model IEnumerable<CellarBotHome.Models.Beer>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#beerSearch").autocomplete({
            minLength: 2,
            source: function (req, resp) { // get JSON object
                $.ajax({
                    url: "/Beer/Search", // search JsonResult
                    type: "POST",
                    dataType: "json",
                    data: { term: req.term },
                    success: function (data) {
                        resp($.map(data, function (item) {
                            return { label: item.brewery_name + " - " + item.beer_name, id: item.beer_id };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                var selected = ui.item;
                navigateToBeer(selected.id);
            }
        });
    });

    function navigateToBeer(beerNum) {
        var replaceMe = 1234;
        var actionUrl = '@Url.Action("Details", "Beer", new { id = 1234 } )';

        window.location = actionUrl.replace(replaceMe, beerNum);
    }
</script>

<div class="row">
    <div class="col-md-8">
        <h2>List of Beers</h2>
    </div>

    <div class="col-md-4" style="padding-top:10px;">
        @using (Html.BeginForm("SearchResults", "Beer"))
        {
            <label class="col-md-6">
                Beer Search
            </label>
            <div class="col-md-10">
                <input id="beerSearch" name="searchTerm" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Create New", "Create")
</div>

<ul>
    @foreach (var beer in ViewBag.OnePageOfBeers)
    {
        <li>@Html.ActionLink((string)beer.Brewery.name + " - " + (string)beer.name, "Details", new { id = beer.id })</li>
    }
</ul>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((PagedList.IPagedList)ViewBag.OnePageOfBeers, page => Url.Action("Index", new { page }))