body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type=text], textarea {
    width:100%;
}

input[type=text], textarea, select {
    padding:3px;
}

input[type=button] {
    max-width:280px;
}

textarea {
    height:100px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* autocomplete input text field */
.lookup {
    width: 200px;
    height: 32px;
    padding: 4px 8px;
    margin: 0;
    border: 3px solid #e2e2e2;
    background: #e2e2e2;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 0.85em;
    color: #333
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* autocomplete drop down override */
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 0.85em;
}

/* autocomplete focus and hover state color override */
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { color: #000; background: #e8e8e8; }