@model IEnumerable<CellarBotHome.Models.Beer>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>List of Breweries</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul>
    @foreach (var brewery in ViewBag.OnePageOfBreweries)
    {
        <li>@Html.ActionLink((string)brewery.name, "Details", new { id = brewery.id })</li>
    }
</ul>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((PagedList.IPagedList)ViewBag.OnePageOfBreweries, page => Url.Action("Index", new { page }))